.tasks-button-item {
  margin-right: 20px;
}
.tab {
  background-color: transparent;
  border: none;
  color: #014f7b;
  font-size: 24px;
  font-family: 'Roboto';
  padding-left: 20px;
  padding-right: 20px;
}
.active {
  border-bottom: 2px solid #00c9b7;
}
